[submodule "guicho-utilities"]
	path = guicho-utilities
	url = git@github.com:guicho271828/guicho-utilities.git
	branch = master
[submodule "pddl.macro-action"]
	path = pddl.macro-action
	url = git@github.com:guicho271828/pddl.macro-action.git
	branch = master
[submodule "pddl"]
	path = pddl
	url = git@github.com:guicho271828/pddl.git
	branch = master
[submodule "planner-scripts"]
	path = planner-scripts
	url = git@github.com:guicho271828/planner-scripts.git
	branch = master
